*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #000000;
}

/* sideBar */

.myContainer{
    display: flex;
    margin: 0;
    padding: 0;
}

.myContainer .sideBar{
    position: fixed;
    width: 350px;
    height: 100%;
    /* /* margin-top: 70px; */
    padding-top: 30px; 
    left: 0;
    background-color: #3E065F;
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 10;
}

.sideBar .image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.sideBar h2{
    padding-top: 30px;
    color: #fff;
}

.sideBar .social{
    padding-top: 25px;
}

.sideBar .social > a{
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 8px;
    color: white;
    opacity: 0.75;
}

.sideBar .social > a:hover{
    opacity: 0.9;
}

/* header */

.myContainer .topNav{
    overflow: hidden;
    background-color: #3e065f50;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 350px;
    width: 1570px;
}

.myContainer .topNav .active{
    color: #8E05C2;
}

.topNav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500px;
}

.topNav a:hover{
    color: #8E05C2;
}

.hrTopnav{
    border-color: #8E05C2;
    display: block;
    margin-top: 0;
    margin-bottom: 0.5em;
    margin-left: 350px;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.myContainer .topNavDropdown{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 350px;
}

.myContainer .topNavDropdown .active{
    color: #8E05C2;
}

.myContainer .topNavDropdown a{
    color: #f2f2f2;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500px;
}

.myContainer .topNavDropdown a:hover{
    color: #8E05C2;
}

/* main content */

.mainContent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 350px;
}

.crosshairContent{
    margin-left: 465px;
    margin-top: 20px;
}

.left{
    color: white;
    
}

.contentRow{
    background-color: #3e065f67;
    width: 100%;
    height: 50px;
}

.contentRow p{
    padding: 12px 12px;
}

.contentBoxes{
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.boxItems{
    background-color: #6f0b97bd;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}

.boxItems > a{
    font-size: 35px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5 5px;
    color: white;
    opacity: 0.75;
    cursor: pointer;
}

.boxItems > a:hover{
    opacity: 0.9;
}

.contentRow .subTitle{
    font-size: 18px;
}

.subTitle{
    margin: 15px 0;
}

.mainContentRight{
    width: 82%;
}

.contentRowRight{
    background-color: #3e065f67;
    width: 107%;
    height: 50px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.contentRowRight p{
    padding: 12px 12px;
    color: white;
}

.contentRowRight.active{
    background-color: #8E05C2;
}

.contentRowRight.active2{
    background-color: #8d05c2d2;
}

.contentRowRightFullsize{
    background-color: #3e065f67;
    width: 79%;
    height: 50px;
    cursor: pointer;
    position: relative;
    
}

.contentRowRightFullsize:hover{
    background-color: #8d05c2d2;
}


.contentRowRightFullsize span{
    color: white;
    padding-left: 12px;
}

.contentRowRightFullsize.active i{
    transform: rotate(-180deg);
    padding-left: 12px;
}

.contentRowRightFullsize i{
    font-size: 30px;
    padding-right: 12px;
    transition: 0.6s;
}

.contentRowRightFullsize.active .dropdownListItems{
    display: block;
}

.dropdownSelect{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.dropdownList{
    background-color: #3e065f;
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    z-index: 1000;
}

.dropdownListItems{
    padding: 12px;
    color: white;
    display: none;

}

.dropdownListItems:hover{
    background-color: #8d05c2d2;
}

